
 .todo-container{
    width: 40vw;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px 10px;
    color: black;
    }
        
    .task{
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    }
    
    .task button{
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
    }

    .task button:disabled {
       cursor: not-allowed;
    }
    
    .create-task input[type=text]{
    margin: 10px 20px;
    width: 80%;
    padding: 0.7em;
    }